img {
    max-width: 100%;
}

/* header */

header {
    background-color: black;
    color: white;
}

header .sony-logo {
    width: 100px;
}

header .lens-header {
    width: 30px;
}

.navbar ul li {
    font-weight: 600;
    font-size: 18px;
}

/* jumbo */

#jumbo {
    background-image: url('img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#jumbo .jumbo-img {
    width: 180px;
}

.jumbo-description {
    padding-top: 250px;
    padding-bottom: 50px;
}

@media all and (min-width: 992px) {

    #jumbo .jumbo-img {
        width: 200px;
    }

}

@media all and (min-width: 576px) {

    #jumbo .jumbo-img {
        width: 350px;
    }

}