a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* header */

header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header .sony-logo {
    width: 100px;
}

header .lens-header {
    width: 30px;
}

.navbar ul li {
    font-weight: 600;
    font-size: 18px;
}

header ul li svg {
    width: 10px;
}

/* jumbo */

#jumbo {
    background-image: url('img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#jumbo .jumbo-img, #banner-game .jumbo-img {
    width: 180px;
}

#jumbo .row, #banner-game .row {
    min-height: 590px;
}

@media all and (min-width: 992px) {

    #jumbo .jumbo-img, #banner-game .jumbo-img {
        width: 250px;
    }

}

@media all and (min-width: 576px) {

    #jumbo .jumbo-img, #banner-game .jumbo-img {
        width: 250px;
    }

}

/* jumbo game */

#jumbo-game img, #new-game img {
    border-radius: 10px;
}

/* console info */

#console-info .console figure {
    width: 150px;
    margin: 0 auto;
    padding-bottom: 10px;
}

@media all and (min-width: 768px) {

    #console-info .console {
        justify-content: center;
        gap: 30px;
    }

    .col-6 .img-play-plus {
        display: block;
    }

}

/* banner game */

#banner-game {
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* new game */

#new-game {
    background-color: #1f1f1f;
    color: white;
}

/* play 4 info */


/* banner play plus */

#banner-play-plus {
    background-color: #bebcbb;
}

.logo-play-plus {
    width: 300px;
}

.button-banner {
    background-color: #d9dadc;
    color: blue;
    border: none;
}

.img-play-plus {
    margin-bottom: 0;
    display: none;
}

/* sale */

/* banner play plus 2 */

#banner-play-plus-2 {
    background-color: #161c3b;
}

/* social */

/* footer */

footer {
    background-color: #00439c;
}

footer .logo-footer {
    width: 150px;
}

footer a {
    text-decoration: underline;
}